<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deu.compare.dao.CrawlingMapper">

	<insert id="insert">
		insert into test_product (product_number,product_name,price_usd,url,img)
		values (seq_product.nextval, #{pName}, #{price}, #{url},#{image})
	</insert>
	
	<select id = "selectData" resultType="com.deu.compare.util.PubMap">
  		select product_name, url, price_usd, product_number,img from test_product order by price_usd
	</select>
	
	<delete id = "delete">
		delete from test_product
	</delete>
</mapper>
